<!-- <p>album-row works!</p> -->
<!-- <div class="d-flex justify-content-center"> 
    <div> <h3> {{album?.title}} by {{album?.artist?.artistName}}</h3> 

</div> -->

<!-- <ul class="list-group">
    <li cclass="list-group-item"> {{album?.title}} by {{album?.artist?.artistName}}</li>
    
  </ul> -->

  <!-- <ul class="list-group list-group-light list-group-numbered">
    
    <li class="list-group-item list-group-item-action px-3 border-0 ripple "> {{album?.title}} by {{album?.artist?.artistName}}</li>
    
  </ul> -->

  <!-- <section style="background-color: #eee;">
    <div class="container py-3">
      <div class="row">
        <div class="col-md-12 col-lg-4 mb-4 mb-lg-3">
          <div class="card">
            <div class="d-flex justify-content-between p-3">
              <p class="lead mb-0">Today's Combo Offer</p>
              <div
                class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                style="width: 35px; height: 35px;">
                <p class="text-white mb-0 small">x4</p>
              </div>
            </div>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/4.webp"
              class="card-img-top" alt="Laptop" />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
                <p class="small text-danger"><s>$1099</s></p>
              </div>
  
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">{{album?.title}} by {{album?.artist?.artistName}}</h5>
                <h5 class="text-dark mb-0">$999</h5>
              </div>
  
              <div class="d-flex justify-content-between mb-2">
                <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
                <div class="ms-auto text-warning">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </section> -->
  <!-- <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">
            <div class="row p-2 bg-white border rounded">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="https://previews.123rf.com/images/kannaa123rf/kannaa123rf1607/kannaa123rf160700027/60173072-abstract-musical-background-with-vinyl-record-album-lp-disc-black-notes-isolated-on-white-backdrop-v.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{album?.title}} by {{album?.artist?.artistName}}</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Id: {{album?._id}}</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Year: {{album?.year}}</span><span class="dot"></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>{{album?.artist?.genre}}</span><span class="dot"></span></div>
                    <p class="text-justify text-truncate para mb-0">{{album?.artist?.recCompany}}<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">$13.99</h4><span class="strike-text">$20.99</span>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button">Edit</button><button class="btn btn-outline-primary btn-sm mt-2" type="button">Delete</button></div>
                </div>
              
            </div>
           
        </div>
    </div>
</div> -->

<ul class="container mt-5 mb-5 .table-striped">
    <li class="list-group-item ripple">{{album?.title}} by {{album?.artist?.artistName}}</li>
    
  </ul>


<!-- <div  class="list-group-item col-12">
   
    <section >
        <div >
          <div>
            <div class="list-group-item-action">
              <div class="card">
                
              
                <div class="card-body">
                  
                  <div>

                    <h5 class="mb-0">{{album?.title}} by {{album?.artist?.artistName}}</h5>
                   
                  </div>
      
                </div>
              </div>
            </div>
          </div>
          </div>
      </section>
    </div> -->
        <!-- <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
          <div class="card">
            <div class="d-flex justify-content-between p-3">
              <p class="lead mb-0">Today's Combo Offer</p>
              <div
                class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                style="width: 35px; height: 35px;">
                <p class="text-white mb-0 small">x2</p>
              </div>
            </div>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/7.webp"
              class="card-img-top" alt="Laptop" />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
                <p class="small text-danger"><s>$1199</s></p>
              </div>
  
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">HP Envy</h5>
                <h5 class="text-dark mb-0">$1099</h5>
              </div>
  
              <div class="d-flex justify-content-between mb-2">
                <p class="text-muted mb-0">Available: <span class="fw-bold">7</span></p>
                <div class="ms-auto text-warning">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
          <div class="card">
            <div class="d-flex justify-content-between p-3">
              <p class="lead mb-0">Today's Combo Offer</p>
              <div
                class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                style="width: 35px; height: 35px;">
                <p class="text-white mb-0 small">x3</p>
              </div>
            </div>
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/5.webp"
              class="card-img-top" alt="Gaming Laptop" />
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
                <p class="small text-danger"><s>$1399</s></p>
              </div>
  
              <div class="d-flex justify-content-between mb-3">
                <h5 class="mb-0">Toshiba B77</h5>
                <h5 class="text-dark mb-0">$1299</h5>
              </div>
  
              <div class="d-flex justify-content-between mb-2">
                <p class="text-muted mb-0">Available: <span class="fw-bold">5</span></p>
                <div class="ms-auto text-warning">
                  <i class="fa fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    
<!-- 
<div class="list-group-item active" aria-current="true">

<ul class="list-group">

    <ol class="list-group">
        <li > {{album?.title}} by {{album?.artist?.artistName}}</li>
       
      </ol>
   
    
  </ul>
</div> -->

<!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{album?.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{album?.artist?.artistName}}</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->